<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lovetto">
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <!-- <uses-feature android:name="android.hardware.location.gps" /> -->
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity_ieri"></activity>
        <activity android:name=".activity_calendario" />
        <activity android:name=".activity_list" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".activity_vendita">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.TAB" />
            </intent-filter>
        </activity>
        <activity android:name=".activity_tutorial">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.TAB" />
            </intent-filter>
        </activity>
        <activity android:name=".activity_oggi">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.TAB" />
            </intent-filter>
        </activity>
        <activity android:name=".activity_domani">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.TAB" />
            </intent-filter>
        </activity>
        <activity android:name=".activity_timeline" />
        <activity android:name=".activity_speratura" />
        <activity android:name=".activity_controllo_remoto" />
        <activity android:name=".activity_modifica_dettagli_incubata" />
        <activity android:name=".activity_dettagli_incubatore" />
        <activity android:name=".activity_dettagli_incubata" />
        <activity android:name=".activity_crea_incubata" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>